[submodule "site_api-gateway"]
	path = site_api-gateway
	url = git@github.com:Ajris/site_api-gateway.git
[submodule "site_discovery-service"]
	path = site_discovery-service
	url = git@github.com:Ajris/site_discovery-service.git
[submodule "site_backend"]
	path = site_backend
	url = git@github.com:Ajris/site_backend.git
[submodule "site_frontend"]
	path = site_frontend
	url = git@github.com:Ajris/site_frontend.git
